@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "montserrat", sans-serif;
}


.Text{
height: 100%;
width: 100%;
}
.Text-h1{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
   
    
 }
  span{
        color: rgba(181, 117, 23, 0.952);
   }
   .Text-h2{
    color: rgba(181, 117, 23, 0.952);
   }